* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
}

body {
    background-color: #DBC2A6;
    color: #fff;
}

.navbar {
    position: fixed;
    z-index: 100;
    top: 10px; 
    
    left: 50%; 
    transform: translateX(-50%); 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #414A37;
    padding: 10px 30px; 
    border-radius: 10px;
    width: 98%; 
}

.navbar li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px
}

.navbar a:hover {
    color: #DBC2A6;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

#home {
    height: 100vh; 
    width: 100%;
    
    display: flex;
    
    padding: 20px;
    gap: 20px;
    
    padding-top: 80px; 
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.card-image {
    flex: 1;
    height: 100%; 
    background-color: #414A37;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-name {
    flex: 2;
    width: 100%;
    
    background-color: #414A37;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-about {
    flex: 1;
    width: 100%;
    background-color: #99744A;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
